<div class="container">
  <div class="row">
    <div class="col display-4 mt-4">Actividades</div>
  </div>

 <div class="container bg-white my-4 shadow rounded">
   <div class="row">
     <div class="col-5 my-4">
       <img src="/imagenes/elasong.jpg" alt="Coworking-oficina" style="max-width: 100%;" class="rounded">
     </div>
     <div class="col-7 my-4">
       <div class="row">
         <div class="col-12">
           <p id="titulo-targeta">Coro de voces femeninas "Elasong"</p>
         </div>
       </div>
       <div class="row">
         <div class="col-12">
           <p id="texto-targeta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deserunt minima consectetur culpa, recusandae rerum officia adipisci ad deleniti dolore fugiat, explicabo hic perspiciatis cum quos quibusdam eos atque praesentium.</p>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>