<div class="container mx-auto bg-white my-4 shadow rounded">
  <div class="row ">
    <div class="col-12 mx-auto justify-content-center">
      <h1 class="text-center" id="titulo-targeta">Página en construcción</h1>
      <img src="\imagenes\coworking-creciendo.png" class="rounded img-fuid mx-auto d-block" alt="Creaciendo">
      <h2 class="text-center" id="texto-targeta">¡Aún estamos creciendo!</h2>
    </div>
  </div>
</div>


