<div class="container mx-auto">
  <h1>IDENTIDAD DEL TITULAR WEB</h1> 
  <p class="text-justify">
    DENOMINACIÓN SOCIAL: CARMEN ROSENDE PEREIRA, en adelante LA PLANTA COWORKING DOMICILIO SOCIAL: C/ ZARAGOZA 8, 36203 VIGO (PONTEVEDRA) CIF/NIF: 36173970F TELÉFONO: 622 101 707 E-MAIL: info@laplantacoworking.com NOMBRE DEL DOMINIO: www.laplantacoworking.com
 </p>
 <h1>2. ACEPTACIÓN DE LAS CONDICIONES DE USO</h1>
  <p class="text-justify">
    La utilización de este sitio Web atribuye al navegante, sea persona física o jurídica, la condición de USUARIO, lo cual implica la adhesión a los términos y condiciones que a continuación se indican. A todos los efectos, se contemplarán los términos y condiciones en la versión publicada en el momento en que se produce el acceso. LA PLANTA COWORKING recomienda al USUARIO leer atentamente los términos y condiciones que a continuación se detallan antes de hacer uso de los servicios ofertados. Asimismo, el acceso a determinados servicios a través de este sitio Web puede encontrarse sometido a ciertas condiciones particulares propias que, según los casos, sustituyen, completan y/o modifican estas condiciones generales. Por tanto, con anterioridad al acceso y/o utilización de nuestros servicios, el USUARIO debe leer atentamente también las correspondientes condiciones particulares. En caso de no aceptar las condiciones de uso, deberá abstenerse de acceder y utilizar los servicios contenidos en esta Web. Las presentes condiciones de uso regulan el uso genérico de la Web por parte del USUARIO que tiene la posibilidad de visualizarla e imprimirlas. LA PLANTA COWORKING se reserva el derecho a modificar o suprimir en cualquier momento y sin previo aviso los contenidos, servicios e informaciones que se encuentran en esta Web, así como a limitar o cancelar los términos y condiciones aplicables a la Web. OZONIA Consultores S L – CIF B11490083 C/ Algeciras 1 · Edificio Fenicia · 11011 Cádiz · SPAIN TEL 900.804.535 · FAX 902.946.254 · comercial@ozonia.es · www.ozonia.es AVISO LEGAL WEB
  </p>
  <h1>3. PROPIEDAD INTELECTUAL E INDUSTRIAL</h1>
  <p class="text-justify">
    El contenido de esta Web se encuentra protegido por las Leyes sobre Propiedad Intelectual e Industrial. El sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos son propiedad de LA PLANTA COWORKING o en su caso dispone de licencia o autorización expresa por parte de los autores. Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte de LA PLANTA COWORKING. La infracción de cualquiera de los citados derechos puede constituir una vulneración de las presentes disposiciones, así como un delito castigado de acuerdo con los artículos 270 y siguientes del Código Penal. Los diseños, logotipos, texto y/o gráficos ajenos a LA PLANTA COWORKING y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos. En todo caso, LA PLANTA COWORKING cuenta con la autorización expresa y previa por parte de los mismos. Las reclamaciones que pudieran interponerse por los USUARIOS en relación con posibles incumplimientos de los derechos de propiedad intelectual o industrial sobre cualesquiera de los Contenidos de este sitio Web deberán dirigirse al correo electrónico info@laplantacoworking.com
  </p>
  <h1>4. ACCESO A LA WEB</h1>
  <p class="text-justify">
    Nuestra Web puede ser visitada por cualquier USUARIO de forma libre y gratuita. Los Datos de Carácter Personal que nos facilite serán siempre tratados de conformidad con lo dispuesto en la Ley Orgánica 15/1999 sobre Protección de Datos de Carácter Personal.
  </p>
  <h1>5. USO CORRECTO DEL SITIO WEB</h1>
  <p class="text-justify">
    El USUARIO se compromete a utilizar la Web, los contenidos y los servicios de acuerdo con la Ley, con las buenas costumbres y el orden público. El USUARIO se obliga y compromete a: 
    <ul>
      <li>
        No utilizar la Web o los servicios que se prestan a través de ella con finalidades o efectos ilícitos o contrarios al contenido de este Aviso Legal que lesionen los intereses o derechos de terceros, o que de cualquier forma pueda dañar, inutilizar o deteriorar la Web o sus servicios o impedir un uso satisfactorio de la Web a otros usuarios.
      </li>
      <li>
        No destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, los programas o los documentos electrónicos y otros que se encuentren en la Web.
      </li>
    </ul>
  </p>
</div>