<div class="container">
  <div class="row">
    <div class="col display-4 mt-4">Tarifas</div>
  </div>
  <br>
  <div class="row justify-content-between">
    <div class="col-md-3 px-sm-2 border">
      <div class="ul py-4">
        <div class="li h2 bg-dark text-light text-center">PLAN SECUOYA</div>
        <hr class="my-4" style="border-top: 2px solid;">
        <div class="li text-center">Acceso 24/7</div>
        <hr>
        <div class="li text-center">Internet fibra óptica + wifi</div>
        <hr>
        <div class="li text-center">Mesa individual</div>
        <br>
        <hr>
        <div class="li text-center">Uso de la sala de reuniones ilimitado</div>
        <br>
        <hr>
        <div class="li text-center">Recepción de correo</div>
        <hr>
        <div class="li text-center">Domiciliación fiscal</div>
        <hr>
        <div class="li text-center">Placa en el directorio de empresas</div>
        <hr>
        <div class="li text-center">Scanner y fotocopiadora. Incluidas 40 fotocopias b/n al mes</div>
        <hr>
        <div class="li text-center">Taquilla individual con llave</div>
        <hr>
        <div class="li text-center">Café expreso, infusiones ecológicas y uso del office</div>
        <hr>
        <div class="li text-center">Agua, luz, limpieza y calefacción</div>
      </div>
      <div class="row border bg-secondary">
        <div class="col text-center">
          <h2 class="text-success">140€</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/contacto">
            <div class="button btn btn-secondary btn-lg">Más información</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-sm-2 border">
      <div class="ul py-4">
        <div class="li h2 bg-dark text-light text-center">PLAN BAMBÚ</div>
        <hr class="my-4" style="border-top: 2px solid;">
        <div class="li text-center">Acceso 24/7</div>
        <hr>
        <div class="li text-center">Internet fibra óptica + wifi</div>
        <hr>
        <div class="li text-center">Mesa para 2 personas de la misma empresa</div>
        <hr>
        <div class="li text-center">Uso de la sala de reuniones ilimitado</div>
        <hr>
        <div class="li text-center">Recepción de correo</div>
        <hr>
        <div class="li text-center">Domiciliación fiscal</div>
        <hr> 
        <div class="li text-center">Placa en el directorio de empresas</div>
        <hr>
        <div class="li text-center">Scanner y fotocopiadora. Incluidas 80 fotocopias b/n al mes</div>
        <hr>
        <div class="li text-center">Taquilla individual con llave</div>
        <hr>
        <div class="li text-center">Café expreso, infusiones ecológicas y uso del office</div>
        <hr>
        <div class="li text-center">Agua, luz, limpieza y calefacción</div>
      </div>
      <div class="row border bg-secondary">
        <div class="col text-center">
          <h2 class="text-success">200€</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/contacto">
            <div class="button btn btn-secondary btn-lg">Más información</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 py-sm-2 border">
      <div class="ul py-4">
        <div class="li h2 bg-dark text-light text-center">PLAN BONSAI</div>
        <hr class="my-4" style="border-top: 2px solid;">
        <div class="li text-center">1/2 jornada mañana o tarde</div>
        <hr>
        <div class="li text-center">Internet fibra óptica + wifi</div>
        <hr>
        <div class="li text-center">Mesa compartida</div>
        <br>
        <hr>
        <div class="li text-center">Uso de la sala de reuniones 8 horas / mes</div>
        <hr>
        <div class="li text-center">Recepción de correo</div>
        <hr>
        <div class="li text-center">Domiciliación fiscal</div>
        <hr>
        <div class="li text-center">Placa en el directorio de empresas</div>
        <hr>
        <div class="li text-center">Scanner y fotocopiadora. Incluidas 20 fotocopias b/n al mes</div>
        <hr>
        <div class="li text-center">--------</div>
        <hr>
        <div class="li text-center">Café expreso, infusiones ecológicas y uso del office</div>
        <hr>
        <div class="li text-center">Agua, luz, limpieza y calefacción</div>
      </div>
      <div class="row border bg-secondary">
        <div class="col text-center">
          <h2 class="text-success">90€</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="/contacto">
            <div class="button btn btn-secondary btn-lg">Más información</div>
          </a>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <p>* Precios sin iva</p>
</div>